<h1>Rights</h1>
<p *libHasRole="'editor'">
    <a routerLink="assign/new" class="btn">Assign rights (new)</a>
</p>
<lib-table [columns]="columns">
    @for (r of rights$ | async; track r.id) {
        <tr>
            <td class="content-cell">
                <a [routerLink]="['/content', r.contentId, 'edit']">{{ r.contentId }}</a>
            </td>
            <td class="content-cell">{{ r.regions.join(', ') }}</td>
            <td class="content-cell">{{ r.expirationDate }}</td>
            <td class="actions-cell">{{ r.gdprAcknowledged ? 'Yes' : '—' }}</td>
            <td class="actions-cell">
                <a [routerLink]="['assign', r.contentId]">Edit</a>
            </td>
        </tr>
    }
</lib-table>
